{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  
<!-- renders the PlayerForm (modelForm) -->
<div class="container-fluid p-0 main-body">


        <div>
            <form id="player-form" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
              <input type="submit" value="submit">
            </form>
        </div>

        <div class="container">
            {% if messages %}
              {% for message in messages %}
                <!-- render according to the message tags -->
                <!-- alert alert-success ; alert alert-warning..etc -->
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}

            <table class="player-table">
                <tr>
                    <th></th>
                    <th>Number</th>
                    <th>Name</th>
                </tr>
                {% for player in players %}
                  <tr>
                      <td><a href="{%url 'player-delete' player.id%}"><i class="fas fa-trash"></i></a></td>
                      <td>{{player.number}}</td>
                      <td>{{player.name}}</td>
                  </tr>
                {% endfor %}
            </table>
        </div>

</div>





{% endblock %}


