body{
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  font-family: 'Montserrat', sans-serif;
}


ul {
  margin: 0;
}

.navbar-brand{
  font-size: 28px; 
}



.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  font-family: 'Ubuntu', sans-serif;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff; /*white*/
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


.content-section {
  background: #ffffff;
  width: 80%;
  padding: 10px;
  margin: 0px auto 10px auto;
}


/*post css stylings*/
.post-background {
  background: #ffffff;
  box-shadow: 0 2px 5px #ccc;
  padding: 20px;
  width: 90%;
  margin: 10px 20px 10px 20px;
  float: left;
}


.post-title {
  color: #444444;
}

a.post-title:hover {
  color: #428bca;
  text-decoration: none;
}


.post-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-content {
  white-space: pre-line;
}


/* Game css*/
.game{
  margin: 20px auto 10px 20px;
}


.game-name{
  background-color: #2F4F74;
  width: 80%;
  height:4rem;
  color: #ffffff;
  font-size: 30px;
  padding-top:15px;
}


.game-background{
  background-color: #EBEBEB;
  width: 80%;
  padding-top: 4px;
}

.game p,h3{
  margin-left: 20px;
  font-weight: bold;
}


/*new*/

 
/* game comment*/
.comment{
  background: #ffffff;
  padding: 15px 5px 15px 5px;
  text-align:left;
  width:90%;
  margin:auto;
  border-radius: 25px;
  border-style: double;
  border-color: #A9A99E;
}

.comment h6{
  font-weight: bold;
  font-family: 'Train One', cursive;
  font-size:20px;
}



/* --------- game detail---------*/

.game-detail-total{
  margin-top: 50px;
}


.game-detail{
  background: #ffffff;
  width: 90%;
  text-align:center;
  margin:auto;
}

.game-total-score{
  border-bottom: 1px solid black;
  width: 90%;
  margin: auto;
}


.game-quarter-score{
  text-align:center;
  margin:10px auto;
}

.game-video{
  display: flex;
  justify-content: center;
  align-items: center;
}




/* ----- score css ----- */

.player-score{
  font-size: 12.5px;
  margin:auto;
  margin-top: 7rem;
  width: 90%;
}


/*record css*/
.game-record{
  margin-top: 10rem;
  text-align:center;
}


.game-system{
  margin-top: 50px;
}


.game-players{
  padding-left: 50px;

}

.list-group{
  width: 80%;
}



.team-icon{
  margin-left: 30px;
  margin-right: 25px;
}



.game-buttons-group{
  margin: auto;
}



.game-button{
  margin: 20px 10px;
}

.update-button{
  margin:20px auto 20px auto;
  text-align:center;
}



/*account css styling*/
/*
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
*/