{% extends "home/base.html" %}
{% load static %}
    
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">

    <div class="container-fluid main-body">
        <form method="POST" action="">
            {% csrf_token %}



            <div id="quarter">
                <label><input type="checkbox" name="quarter" value="q1"><span>Q1</span></label>
                <label><input type="checkbox" name="quarter" value="q2"><span>Q2</span></label>
                <label><input type="checkbox" name="quarter" value="q3"><span>Q3</span></label>
                <label><input type="checkbox" name="quarter" value="q4"><span>Q4</span></label>
            </div>
            
            <div id="players">
                <label><input type="checkbox" name="work_days" value="1"><span>sun</span></label>
                <label><input type="checkbox" name="work_days" value="2"><span>mon</span></label>
                <label><input type="checkbox" name="work_days" value="3"><span>tue</span></label>
                <label><input type="checkbox" name="work_days" value="4"><span>wed</span></label>
                <label><input type="checkbox" name="work_days" value="5"><span>thu</span></label>
                <label><input type="checkbox" name="work_days" value="6"><span>fri</span></label>
                <label><input type="checkbox" name="work_days" value="7"><span>sat</span></label>
            </div>
            <div class="container-fluid game-buttons">
                
                <div class="col game-score-buttons">
                    <div>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="make-2pt">Make 2PT</button>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="miss-2pt">Miss 2PT</button>
                    </div>
                    <div>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="make-3pt">Make 3PT</button>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="miss-3pt">Miss 3PT</button>
                    </div>
                    <div>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="make-ft">Make FT</button>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="miss-ft">MISS FT</button>
                    </div>
                </div>
                <div class="col game-help-buttons">
                    <div>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="off-reb">OFF REB</button>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="def-reb">DEF REB</button>
                    </div>
                    <div>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="steal">Steal</button>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="block">Block</button>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="ast">AST</button>   
                    </div>
                </div>
                <div class="col game-error-buttons">
                    <div>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="to">TO</button>
                    </div>
                    <div>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="off-foul">OFF Foul</button>
                        <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="def-foul">DEF FOUL</button>   
                    </div>
                </div>
                <div class="col game-opponent-buttons" style="display:flex; flex-direction: column;">
                    <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="other_team_score1">Opponent + 1</button>
                    <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="other_team_score2">Opponent + 2</button>
                    <button class="btn btn-dark btn-md mt-1 mb-1" type="submit" name="other_team_score3">Opponent + 3</button>   
                </div>
            </div>
        </form>


    </div>     





{% endblock content %}

{% block javascript %}
<script>

</script>
{% endblock javascript %}