body{
  background: #fafafa;
  color: #333333;
  /*margin-top: 5rem;*/
  font-family: 'Montserrat', sans-serif;
}


ul {
  margin: 0;
}

.main-body{
  margin-top: 5rem;
}



.navbar { 
  border:0;

}


.navbar-brand{
  font-size: 28px; 
}



.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  font-family: 'Ubuntu', sans-serif;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff; /*white*/
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}





.content-section {
  background: #ffffff;
  width: 80%;
  padding: 10px;
  margin: 0px auto 10px auto;
}


/*post css stylings*/
.post-background {
  background: #ffffff;
  box-shadow: 0 2px 5px #ccc;
  padding: 20px;
  width: 90%;
  margin: 10px 20px 10px 20px;
  float: left;
}


.post-title {
  color: #444444;
}

a.post-title:hover {
  color: #428bca;
  text-decoration: none;
}


.post-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-content {
  white-space: pre-line;
}

/* Game css*/

/* --------- game list ---------*/
.flex{
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}
.game{
  width: 50%;
  background-color: #f5f4f2;
  color: black;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-score{
  height: 80%;
  text-align:center;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.score{
  margin:auto;
}
.score > h6{
  font-size: 30px;
}


.team{
  margin:15px;
}

.game-links{
  height: 20%;
}

.game-links > div{
  width: 33.33%;
  height: 100%;
  text-align:center;
  font-weight: bold;
  font-size: 19px;
  padding: 5px;
}


/* --------- game comment --------- */
.comment{
  background: #ffffff;
  padding: 15px 5px 15px 5px;
  text-align:left;
  width:90%;
  margin:10px auto;
  
  border-radius: 10px;
  border-style: double;
  border-color: #A9A99E;
}

.comment a{
  color:#353D45;
}


a.comment:hover {
  color: #9AB4D5;
}



.comment h6{
  font-weight: bold;
  font-family: 'Train One', cursive;
  font-size:20px;
}




/* --------- game detail---------*/

.game-detail{
  background: #ffffff;
  width: 90%;
  text-align:center;
  margin:10px auto;
}


.game-quarter-score{
  width:80%;
  text-align:center;
  margin: 20px auto 20px auto;

}

.game-video{
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info{
  text-align:center;
  margin:auto;

}


/*score css*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 200px;
  width: 200px;
  margin: 0px 20px;
}



/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.game-container {
  padding: 50px 16px;
  text-align: center;
}


.game-scores{
  display: flex;
  align-items: center;
  justify-content: center;
}


/*player form to create players*/



#player-form{
  width: 30%;
  margin: 10px auto 30px auto;

}

.player-table{
  border-collapse: collapse;
  width: 50%;
  margin:auto;
  border: 1px solid #202020;
  padding:2px;
  text-align: center;
  font-weight: bold;
}

.player-table td{
  border: 1px solid #202020;
  padding:5px;
}

.player-table th{
  border: 1px solid #202020;
  padding:5px;
}

/*delete players*/
.fa-trash{
  color:#202020;
}

.fa-trash:hover{
  color:red;
}


/*record css*/

#quarter{
  text-align: center;
}

#quarter input[type="checkbox"] {
  display: none;
}

#quarter span {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #003366;
  border-radius: 3px;
  color: #003366;
}

#quarter input[type="checkbox"]:checked + span {
  background-color: #003366;
  color: white;
  border: 2px solid #003366;
  border-color: #003366;
}


#players{
  text-align: center;
}

#players input[type="checkbox"] {
  display: none;
}

#players span {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #808080;
  border-radius: 3px;
  color: #808080;
}

#players input[type="checkbox"]:checked + span {
  background-color: #80FF00;
  color: white;
  border: 2px solid #80FF00;
  border-color: #80FF00;
  opacity: 0.5;
}

.game-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}


.game-buttons div{
  padding: 5px;
}



/*account css styling*/
.account-homepage{
  height: 40px;
  width: 40px;
  margin-left: 5px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}


