body{
  background: #fafafa;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
}


ul {
  margin: 0;
}

.main-body{
  margin-top: 5rem;
}



.navbar { 
  border:0;

}


.navbar-brand{
  font-size: 28px; 
}



.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  font-family: 'Ubuntu', sans-serif;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff; /*white*/
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}





.content-section {
  background: #ffffff;
  width: 80%;
  padding: 10px;
  margin: 0px auto 10px auto;
}


/*post css stylings*/
.post-background {
  background: #ffffff;
  box-shadow: 0 2px 5px #ccc;
  padding: 20px;
  width: 90%;
  margin: 10px 20px 10px 20px;
  float: left;
}


.post-title {
  color: #444444;
}

a.post-title:hover {
  color: #428bca;
  text-decoration: none;
}


.post-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-content {
  white-space: pre-line;
}

/* Game css*/

/* --------- game list ---------*/
.flex{
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}
.game{
  width: 50%;
  background-color: #f5f4f2;
  color: black;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.game-score{
  height: 80%;
  text-align:center;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.score{
  margin:auto;
}
.score h6{
  font-size: 30px;
}


.team{
  margin:15px;
}

.game-links{
  height: 20%;
}

.game-links div{
  width: 33.33%;
  height: 100%;
  text-align:center;
  font-weight: bold;
  font-size: 19px;
  padding: 5px;
}

.game-links a{
  color:#2F4F4F;
  font-weight: bold;
}

.game-links a:hover{
  color: #00BFFF;
}


/* --------- game detail---------*/

.game-detail{
  width: 90%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}


.game-quarter-score{
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}


.game-player-score{
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #202020;
  margin: 10px auto;
}


.game-player-score th{
  border: 1px solid #202020;
  padding: 8px;
}


.game-player-score td{
  border: 1px solid #202020;
  padding: 8px;
}


.game-info{
  border: 1px solid #ced4da;
  background-color: #f8f9fa;
}


.game-info h4{
  background-color: #010E14;
  padding: 10px;
  height: 50px;
  color: white;

}


.game-info h5{
  padding: 0px 0px 5px 10px;
}


#game-info-buttons{
  padding-left:10px;
}


/* --------- leave comment pop up form --------- */

#overlay{
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */  
  color: ivory;

  font-family: 'Roboto', sans-serif;
}



#overlay .closebtn{
  position: absolute;
  top: 60px;
  right: 45px;
  font-size: 60px;
}



.overlay-form{
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}


/* --------- game comment --------- */
.comment-banner{
  height: 45px;
  text-align: center;
  margin: 4px auto 4px auto;
  width: 90%;
  padding: 10px;
  background-color: rgba(1,14,20, 0.8);
  color: white;
}




.comment{
  padding: 20px;
  width: 90%;
  margin: 0px auto 5px auto;
  border-style: groove;
  border-width: 0.5px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.comment a{
  position: absolute;
  right: 20px;
}

.fa-times{
  color: black;
}

.fa-times:hover{
  color:red;
}

.comment h6{
  font-style: bold;
  font-size: 25px;
}

.comment small{
  text-decoration: underline;
  font-size: 15px;
  margin-left: 10px;
}




/* --------- game score---------*/

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 200px;
  width: 200px;
  margin: 0px 20px;
}



/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.game-container {
  padding: 50px 16px;
  text-align: center;
}


.game-scores{
  display: flex;
  align-items: center;
  justify-content: center;
}


/*player form to create players*/



#player-form{
  width: 30%;
  margin: 10px auto 30px auto;

}

.player-table{
  border-collapse: collapse;
  width: 50%;
  margin:auto;
  border: 1px solid #202020;
  padding:2px;
  text-align: center;
  font-weight: bold;
}

.player-table td{
  border: 1px solid #202020;
  padding:5px;
}

.player-table th{
  border: 1px solid #202020;
  padding:5px;
}


.fa-trash{
  color:#202020;
}

.fa-trash:hover{
  color:red;
}


.player-name{
  color: black;
}


.player-name:hover{
  color: #00BFFF;
}


/*player profile*/
.player-profile{
  margin-top: 100px;
}

.player-profile-info{
  margin: 20px auto;
  display:flex; 
  flex-direction: row;
  flex-flow: column-wrap;
  align-items:center;
  text-align: center;
  justify-content: space-around;
}


.player-profile-stats{
  background-color: #B0E0E6;
  padding: 10px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}





/*record css*/

#quarter{
  text-align: center;
}

#quarter input[type="checkbox"] {
  display: none;
}

#quarter span {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #003366;
  border-radius: 3px;
  color: #003366;
}

#quarter input[type="checkbox"]:checked + span {
  background-color: #003366;
  color: white;
  border: 2px solid #003366;
  border-color: #003366;
}


#players{
  text-align: center;
}

#players input[type="checkbox"] {
  display: none;
}

#players span {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #808080;
  border-radius: 3px;
  color: #808080;
}

#players input[type="checkbox"]:checked + span {
  background-color: #80FF00;
  color: white;
  border: 2px solid #80FF00;
  border-color: #80FF00;
  opacity: 0.5;
}

.game-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}


.game-buttons div{
  padding: 5px;
}



/*account css styling*/
.account-homepage{
  height: 40px;
  width: 40px;
  margin-left: 5px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



/* game stat */









