{% extends "home/base.html" %}
{% load static %}


{% block content %}

<style type="text/css">
.chart-container{
  width: 500px;
  height:500px;
}  
</style>

<div class="container-fluid main-body">


  <div class="row">
    <!-- quarter score line chart -->  
    <div class="chart-container col-6">
      <canvas id="line-chart"></canvas>
    </div>
    
    <!-- shot selection pie chart -->
    <div class="chart-container col-6">
      <canvas id="pie-chart"></canvas>
    </div> 


  </div>
  


</div>


{% endblock content %}





{% block javascript %}
<script type="text/javascript" src="{% static 'js/game/game_charts.js' %}"></script>
{% endblock %}