{% extends "home/base.html" %}

{% block content %}
<div class="container-fluid p-0 main-body">
  <div class="row no-gutters">
	{% for game in games %}
	    <div class="game col-md-3">
	      <div class="game-name">
	      	<h3><a class="game-title" href="{% url 'game-detail' game.id %}">{{game.nameOfGame}}</a></h3>
	      </div>
	      <!-- game content -->
	      <div class="game-background">
	        <p>{{game.season}}   {{game.dateOfGame}}</p>
	        <p>{{game.opponent}}</p>
	        <p>{{game.area}}</p>
	      </div>
	    </div>
	{% endfor %}
  </div>
</div>
{% endblock content %}