{% extends "home/base.html" %}
{% load static %}

{% block content %}
    
<div class="container-fluid main-body">
	
	<div class = "row game-scores">
		<div class="card">
		  <div class="game-container">
		    <h4><b>Home Team</b></h4>
		    <h1>{{game.total_score}}</h1>
		  </div>
		</div>
		<div class="card">
		  <div class="game-container">
		    <h4><b>Opponent</b></h4>
		    <h1>{{game.other_total_score}}</h1>
		  </div>
		</div>
	</div>
	

  	<table class="table table-hover table-bordered" style="margin: 30px 10px;">
	    <thead class="thead-dark">
	      <tr>
	        <th scope="col">NUMBER</th>
	        <th scope="col">NAME</th>
	        <th scope="col">MINS</th>
	        <th scope="col">2PT Made</th>
	        <th scope="col">2PT</th>
	        <th scope="col">3PT Made</th>
	        <th scope="col">3PT</th>
	        <th scope="col">FT</th>
	        <th scope="col">FT Made</th>
	        <th scope="col">OREB</th>
	        <th scope="col">DREB</th>
	        <th scope="col">BLK</th>
	        <th scope="col">STL</th>
	        <th scope="col">AST</th>
	        <th scope="col">TO</th>
	        <th scope="col">O-FOUL</th>
         	<th scope="col">D-FOUL</th>
	      </tr>
	    </thead>
	    
	    <tbody>
	      {% for pr in player_records %}
	      <tr>
			<td>{{pr.playerId.number}}</td>
			<td>{{pr.playerId.name}}</td>
			<td>{{pr.numberOfMinutesPlayed}}</td>
			<td>{{pr.twoPointersMade}}</td>
			<td>{{pr.twoPointers}}</td>
			<td>{{pr.threePointersMade}}</td>
			<td>{{pr.threePointers}}</td>
			<td>{{pr.freethrows}}</td>
			<td>{{pr.freethrowMade}}</td>
			<td>{{pr.offensiveRebound}}</td>
			<td>{{pr.defensiveRebound}}</td>
			<td>{{pr.block}}</td>
			<td>{{pr.steal}}</td>
			<td>{{pr.assist}}</td>
			<td>{{pr.turnover}}</td>
			<td>{{pr.offensiveFoul}}</td>
			<td>{{pr.defensiveFoul}}</td>
	      </tr>
			{% endfor %}
	    </tbody>
  	</table>

    <!-- messages -->
    {% if messages %}
        {% for message in messages %}
          <!-- render according to the message tags -->
          <!-- alert alert-success ; alert alert-warning..etc -->
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}


	<form method="post" action="">

		{% csrf_token %}

		<div style="margin-left: 20px;">
			{% for pr in player_records %}
				<div class="row">
				<input type="checkbox" value="select-player" name="{{pr.id}}"><label style="margin-left: 10px; text-align: center;">{{pr.playerId.name}}</label>
				</div>
			{% endfor %}
		</div>
	 	
	 	<br>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="make-2pt">Make 2PT</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="miss-2pt">Miss 2PT</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="make-3pt">Make 3PT</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="miss-3pt">Miss 3PT</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="make-ft">Make FT</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="miss-ft">MISS FT</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="off-reb">OFF REB</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="def-reb">DEF REB</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="steal">Steal</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="block">Block</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="ast">AST</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="to">TO</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="off-foul">OFF Foul</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="def-foul">DEF FOUL</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="other_team_score2">Opponent + 2</button>
			<button class="btn btn-dark btn-sm mt-1 mb-1" type="submit" name="other_team_score3">Opponent + 3</button>
	</form>
</div>
{% endblock %}































