{% extends "home/base.html" %}
{% load static %}
{% block content %}
  <div class="container-fluid p-0 main-body">
    <div class="row no-gutters">
      <!-- <p id="hide">tttestst</p> -->
      <div class="container-fluid">
        <div class="row">
          <a class="btn btn-outline-dark btn-md mt-3 mb-2" href="{% url 'game-create'%}" style="margin-left:20px;">Create Game</a>
        </div>
        <hr>
        <p>{{data}}</p>
        <div class="row">
          <div class="col-lg-12">
            
            <div class="row">
              {% for game in games %}
                <div class="col-lg-6 col-md-4 col-sm-12 game border border-end">
                  
                  <div class="row game-score">
                    <div class="col-sm">
                      <img src="{% static 'img/team1.png' %}" alt="team1" style="width:90px; height:90px;">
                      <h6 class="team">HomeTeam</h6>
                    </div>
                    
                    <div class="col-sm score">
                      <h6>{{game.total_score}}
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"/>
                      </svg>
                      {{game.other_total_score}}
                      </h6>
                      <p>Season: {{game.season}}</p>
                      <p>Date: {{game.dateOfGame|date:"D  M d Y"}}</p>
                    </div>
                    <div class="col-sm">
                      <img src="{% static 'img/team2.png' %}" alt="team2" style="width:90px; height:90px;">
                      <h6 class="team">{{game.opponent}}</h6>
                    </div>
                  </div>
                  <div class="row game-links border-top">
                    <div class="col border border-end"><a href="{% url 'game-stat' game.id %}">Stats</a></div>
                    <div class="col"><a href="{% url 'game-detail' game.id %}">Details</a></div>
                    <!--  -->
                    <div class="col border border-start"><a href="{% url 'game-record' game.id %}">Record</a></div>
                  </div>
                </div>
              {% endfor %}
            </div>
          
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  {% endblock content %}