{% extends "home/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

<div class="container-fluid main-body">
	<div class="row">
		<div class="col-lg-12 description">
			<p>
				This app is made due to my observations in average basketball teams.
				Non professional basketball teams often suffer from not being able
				to have a integrated platform for communication, discussion of game
				detail, and record the games played. Even if they have recorded the 
				games played, without a professional team to analyze players and team
				data, coaching is often reduced to using intuition instead of a 
				data driven approach for enhancement. 
			</p>
			<p>To address this problem, I built this app which features four main
			functions. The blog posts can serve as a place for players to express their
		feelings, and also serve as a diary for practice</p>
			<p> The game records will keep track of which games the team played</p>
			<p> The high level player statistics will provide valuable information
			of how the player and team is performing.</p>
			<p> Finally, the real time score tracking feature eliminates the need for people
			to  bring a piece of paper to keep track of team score, and player records in
		the game.</p>
		</div>
	</div>	  
</div>

{% endblock content %}